html, body {
    height: 100%;
}

body {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: #2B2c34;
}

.header, .footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

.header, .about, .skills, .projects, .code {
    padding: 0px 160px;
}

.header {
    margin-top: 24px;
    padding: 10px 0;
    margin-bottom: 24px;
    text-align: center;
}

.about__img {
    max-width: 380px;
    width: 100%;
    min-width: 250px;
    object-fit: contain;
}

.nav__list {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.nav__elem {
    line-height: 120%;
    font-variant: small-caps;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
}

.about {
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    column-gap: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.about__main {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    line-height: 135%;
    font-size: 20px;
}

hr {
    margin-left: 160px;
    margin-right: 160px;
    border: 1px solid DodgerBlue;
}

.skills {
    padding-top: 40px;
    padding-bottom: 80px;
}

.skills__list {
    display: grid; 
    grid-template-columns: 104px 104px;
    justify-content: space-evenly;
    text-align: center;
    gap: 30px;
    line-height: 135%;
    font-size: 20px;
}

.footer {
    padding: 40px 160px 50px;
    background-color: DodgerBlue;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__img {
    height: 36px;
}

.code {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #2B2c34;
    color: white;
}

.contacts__list {
    font-size: 16px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.contacts__elem {
    display: flex;
    column-gap: 8px;
}

.contacts__img {
    height: 16px;
    width: 16px;
}

.projects__description {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 50px;
}

.projects__description span {
    color: #2B2c34;
    font-weight: 700;
}

#link {
    color: dodgerblue;
}

.footer__year {
    align-self: flex-end;
}

@media (max-width: 1021px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 28px;
    }

    .header, .about, .skills, .projects, .code {
        padding-left: 100px;
        padding-right: 100px;
    }

    .about__main {
        font-size: 18px;
    }

    hr {
        margin-left: 100px;
        margin-right: 100px;
    }

    .footer {
        padding: 40px 100px 50px;
    }
}

@media (max-width: 800px) {
    .header, .about, .skills, .projects, .code {
        padding-left: 50px;
        padding-right: 50px;
    }

    .about {
        flex-direction: column;
    }

    .about h1 {
        text-align: center;
    }

    .footer {
        padding: 40px 50px 50px;
    }

    hr {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 600px) {
    .header, .about, .skills, .projects, .code {
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer {
        padding: 40px 16px 50px;
    }

    hr {
        margin-left: 16px;
        margin-right: 16px;
    }
}
